/* Navbar.css */
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 20;
  transition: all 2s;
  transform: translateX(0%);
}

.logo {
  width: 309.36px;
  display: flex;
}

.logo img {
  width: 309.36px;
}

.nav-links {
  display: flex;
  gap: 75px;
}

.nav-links > a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #2cb1bf;
}

.nav-links a::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2cb1bf;
  position: absolute;
  right: 0%;
  bottom: 0px;
  transition: width 0.42s cubic-bezier(.215, .61, .355, 1);

}

.nav-links a.change::before {
  width: 100%;
}

.nav-links a.change {
  color: white;
}

.nav-links a:hover::before {
  width: 100%;
}

.nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 930px) {
  .nav-links {
      display: none;
  }
  .nav-btn{
    display: block;
    opacity: 1;
    z-index: 50;
  }

  .nav{
    border-radius: 2rem;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    background-color: #011126;
    opacity: 0.9;
    display:flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -150%;
    overflow: hidden;
    top: 0;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    z-index: 50;
}
.nav.active{    left: 0; z-index: 50;}
}



