.testo-hero3 {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30%;


    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-align: justify;
}


@media screen and (max-width: 320px) {
   
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .testo-hero3 {
        width: 60%;
    }
    .testo-hero3 > h4{
        font-size: 16px;

    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {

}

@media screen and (min-width: 601px) and (max-width: 768px) {
   
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}
